@model apiVietSo.Models.ListLongSo

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var LoaiSoes = (List<apiVietSo.Models.LoaiSo>)ViewBag.LoaiSoes;
}


<form method="post" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Thông tin lòng sớm</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.SoID)

        <div class="form-group">
            <label class="control-label col-md-2" for="LoaiSo">Loại sớ</label>
            <div class="col-md-10">
                <select class="form-control" name="LoaiSo">

                    @foreach (var item in LoaiSoes)
                    {
                        <option value="@item.TenLoaiSo" @(Model.LoaiSo==item.TenLoaiSo ? "selected": "") >@item.TenLoaiSo</option>
                    }
                </select>
           
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="LoaiSo">Tên sớ</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenSo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenSo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="LoaiSo">Chú giải</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ChuGiai, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ChuGiai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="LoaiSo">FileName</label>
            <div class="col-md-10">
                <input type="file" name="FileName" accept=".hc" />
                <hr />
                <input disabled class="form-control text-box single-line" id="FileName" name="FileName" type="text" value="@Model.FileName">
                @Html.ValidationMessageFor(model => model.FileName, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
