@model IEnumerable<apiVietSo.Models.ListLongSo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý lòng sớ</h2>
 
<a href="/ListLongSoes/edit" class="btn btn-sm btn-primary">Thêm loại sớ</a> 

<table class="table">
   <thead>
        <tr style="background-color:lightgray">
        <th>
            @Html.DisplayNameFor(model => model.SoID)
        </th>  
        <th>
            
            @Html.DisplayNameFor(model => model.LoaiSo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenSo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChuGiai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Updated)
        </th>
        <th style="width:100px"></th>
    </tr>
   </thead>
    <tbody>
        
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SoID)
        </td>  
        <td>
            @Html.DisplayFor(modelItem => item.LoaiSo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenSo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChuGiai)
        </td>
        <td>
            <a target="_blank" href="@item.FileName">@item.FileName.Split('@').LastOrDefault()</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updated)
        </td>
        <td>
                <a class="btn btn-sm btn-success" href="/ListLongSoes/Edit/@item.SoID">Sửa</a> |
             <a class="btn btn-sm btn-danger" href="/ListLongSoes/Delete/@item.SoID">Xóa</a>
        </td>
    </tr>
}
    </tbody>

</table>
<script>
 
    $('.table').DataTable();
</script>